body{
  background-image: url("images/bg.png");
  background-size: 100% 100%;
  background-color: rgb(110, 106, 106);
  background-clip: content-box;
   background-attachment: scroll;
}
.sale{
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;  
  width: 10%;
  height: 10%;
}

#navi{
background-color: rgb(171, 125, 237);
border-width:100%;
font-size: 45px;
text-align: center;
padding: 10px;
}

#align{
    display:flex;
    flex-direction: row;
    gap: 50px;
}

#video{
max-width: 100%;
border-color: black;
}

.design{
    background-color: white;
}

button{
    background-color:aqua;
    font-size: 50px;
}

button:hover{
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

@keyframes example {
  0%   {transform: rotate(0deg);left:0px}
  25%  {transform: rotate(25deg);left:0px}
  50%  {transform: rotate(50deg);left:500px}
  75%  {transform: rotate(-25deg);left:250px}
  100% {transform: rotate(-50deg);left:500px}
}


h1 {
  text-shadow: 2px 2px 10px red;
  color: rgba(255, 255, 0, 0.789);
}